.blog-list {
    padding: 0.5em;

    background-color: #FFFFFF;

    border-width: 1px;
    border-style: inset;
}

.blog-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-item-header {
    margin-bottom: 0.5em;
    h3 {
        margin-top: 0;
        margin-bottom: 0.2em;
    }
}