.blog-header {
    margin-bottom: 1em;
}

.blog-content {
    img {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        max-width: 100%;
    }
}

.blog-footer {
	nav {
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

