.blog {
    background: #ffffff;
    padding: 1em;

    border-width: 1px;
    border-style:inset;
}

.blog-header {
    margin-bottom: 1em;
}

.blog-content {
    img {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        max-width: 100%;
    }
}
