.blog {
    height: 100%;
}

.blog-header {
    margin-bottom: 1em;
}

.blog-content {
    padding: 1em;

    background-color: #FFFFFF;

    border-width: 1px;
    border-style:inset;

    img {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        width: 80%;
        height: auto;
    }
}