.blog-list {
    padding: 1em;

    height: 100%;
    width: 100%;
    box-sizing: border-box;


    background-color: #FFFFFF;

    border-width: 1px;
    border-style: inset;
}

.blog-item {
}

.blog-item-header {
    h3 {
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    small {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}