.menu-bar {


    ul {
        height: calc(1.6em - 1px);
        box-sizing: border-box;

        border-width: 1px;
        border-style: outset;

        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    li {
        padding: 0.3em;
        margin: 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            size: 1em;

            display: block;
            color: #000;
            text-decoration: none;
        }
    }

    li:hover {
        margin: 1px;
        box-sizing: border-box;

        border-width: 1px;
        border-style: outset;
    }

    li:active {
        margin: 1px;
        box-sizing: border-box;

        border-width: 1px;
        border-style: inset;
    }
}
